# Configuration for the Glow Navigator
---
### Index ###
caption:
  type:  caption
  color: cyan
  display:
    - name
    - type
    - property
    - entity
    - counts

### Condition ###
condition:
  type:    condition
  color:   magenta
  display:
    - name
    - type
    - condition_type
    - description
    - entity
    - counts
  path: DotNet/Infrastructure/Conditions/Configuration/Conditions/*.yaml
  fields:
    name:         code
    entity:       entityName
    description:  description
    expression:   expression

### Command Rule ###
command:
  type:  command
  color: magenta
  display:
    - name
    - type
    - command_type
    - entity
    - counts

### Entity ###
entity:
  type: entity
  color: blue
  path: DotNet/Infrastructure/Rules/Configuration/Entities/*.yaml
  display:
    - name
    - type
    - entity
    - counts
  fields:
    properties: properties
    name:       name

### Formflow ###
formflow:
  type:  formflow
  color: green
  path:  DotNet/SystemData/SystemData/BPM/BPMWorkflowTmpl/*.yaml
  display:
    - name
    - type
    - entity
    - sounds
    - counts
  fields:
    guid:        VM_PK
    name:        VM_Name
    entity:      VM_EntityType
    context:     VM_Context
    form_factor: VM_FormFactor
    active:      VM_IsActive
    usage:       VM_Usage
    image:       VM_SK_Image
    tasks:       BPMTaskTmpls
    conditions:  BPMWorkflowTmplConds
    data:        VM_WorkflowDefinition
    sounds:      VM_PlaySystemAudio

### Image ###
image:
  type:  image
  color: yellow
  path: DotNet/SystemData/SystemData/StmImage/*.yaml
  display:
    - name
    - type
    - color
    - image_type
    - counts
  fields:
    guid:       SK_PK
    name:       SK_Name
    color:      SK_IsColorizable
    image_type: SK_MediaType

### Index ###
index:
  type:  index
  color: blue
  path: DotNet/Infrastructure/Index/Configuration/Entities/*.yaml
  display:
    - name
    - type
    - property
    - entity
    - counts
  fields:
    name:       entityType
    categories: categories
    mappings:   indexFields
    related:    relatedEntities

### Link - generic for landing page and others ###
link:
  type:  link
  color: cyan
  display:
    - type
    - name
    - link_type
    - ref_type
    - rule_name

### Entity Meta Data - properties of fields etc
metadata:
  type:  metadata
  color: blue
  path:  DotNet/Model/Configuration/Configuration/Entities/*.yaml
  display:
    - name
    - type
    - link
    - entity
  fields:
    name:       entityType
    data:       metaData
    read_only:  readOnly
    condition:  conditionId
    properties: properties

### Module ###
module:
  type:  module
  color: blue
  path:  DotNet/SystemData/SystemData/BPM/BPMModule/*.yaml
  display:
    - name
    - type
    - code
    - login
    - security
    - mobile
    - counts
  fields:
    guid:         V9_PK
    name:         V9_Name
    code:         V9_Code
    login:        V9_LoginType
    template:     V9_VZ_StartupForm
    theme:        V9_GO_Theme
    web:          V9_WebPortalEnabled
    mobile:       V9_IsPermittedToDeviceUsers
    security:     V9_WebSecurityRight

### Properties (calculated) ###
property:
  type:  property
  color: magenta
  display:
    - name
    - type
    - calculated_property
    - defaulting_rule
    - validation_rule
    - lookup_rule
    - entity
    - counts

### Sounds ###
sound:
  type:  sound
  color: yellow
  path: DotNet/SystemData/SystemData/StmAudio/*.yaml
  display:
    - name
    - type
    - duration
    - sound_type
    - counts
  fields:
    guid:       PK
    name:       Name
    duration:   DurationInSeconds
    sound_type: MediaType

### Task - formflow steps ###
task:
  type:  task
  color: cyan
  display:
    - type
    - task
    - name
    - entity
    - counts
  fields:
    guid:       VR_PK
    name:       VR_Description
    entity:     VR_DataContextOverride
    task:       VR_Type
    command:    VR_RuleName
    formflow:   VR_VM_JumpToWorkflowTemplate
    template:   VR_VZ_Form
    active:     VR_IsActive

### Template ( forms and pages) ###
template:
  type:  template
  color: red
  path:  DotNet/SystemData/SystemData/BPM/BPMForm/*.yaml
  display:
    - name
    - type
    - form_type
    - form_factor
    - entity
    - description
    - counts
  fields:
    guid:         VZ_PK
    name:         VZ_FormID
    entity:       VZ_EntityType
    form_factor:  VZ_FormFactor
    active:       VZ_IsActive
    form_type:    VZ_FormType
    data:         VZ_FormData
    dependencies: VZ_Dependencies
    description:  VZ_FormDescription

### Test - cucumber business tests ###
test:
  type:  test
  color: yellow
  path:  src/BusinessTests/Features/Files/*.feature
  display:
    - type
    - name
    - counts
  matchers:
    module:
      - "@(?P<module>[A-Z]{3})"
    template:
      - (And|Given|Then|When) I am on the (?!eDocs for This )(?P<template>.+) form
    formflow:
      - (And|Given|Then|When) I started activity (?P<formflow>.+)
      - (And|Given|Then|When) I perform the (?!Activate|Add|Customize Columns|Deactivate|Delete|eDocs|Notes)(?P<formflow>.+) action
    ignore:
      - (And|Given|Then|When) I am on the (?P<ignore>Platform Builder) landing page

### Tile - clickable on templates ###
tile:
  type:  tile
  color: cyan
  display:
    - type
    - name
    - description
    - warning
    - entity
    - counts
...
