# Configuration for the Glow Navigator
---

### Condition ###
condition:
  type:    condition
  color:   red
  display:
    - name
    - type
    - condition_type
    - description
    - entity
    - counts
  path: DotNet/Infrastructure/Conditions/Configuration/Conditions/*.yaml
  fields:
    name:         code
    entity:       entityName
    description:  description
    expression:   expression

### Command Rule ###
command:
  type:  command
  color: magenta
  display:
    - name
    - type
    - command_type
    - entity
    - counts

### Entity ###
entity:
  type: entity
  color: blue
  path: DotNet/Infrastructure/Rules/Configuration/Entities/*.yaml
  display:
    - name
    - type
    - entity
    - counts
  fields:
    properties: properties
    name:       name

### Formflow ###
formflow:
  type:  formflow
  color: green
  path:  DotNet/SystemData/SystemData/BPM/BPMWorkflowTmpl/*.yaml
  display:
    - name
    - type
    - entity
    - counts
  fields:
    guid:        VM_PK
    name:        VM_Name
    entity:      VM_EntityType
    form_factor: VM_FormFactor
    active:      VM_IsActive
    usage:       VM_Usage
    image:       VM_SK_Image
    tasks:       BPMTaskTmpls
    conditions:  BPMWorkflowTmplConds
    data:        VM_WorkflowDefinition

### Image ###
image:
  type:  image
  color: yellow
  path: DotNet/SystemData/SystemData/StmMedia/*.yaml
  display:
    - name
    - type
    - color
    - image_type
    - counts
  fields:
    guid:       SK_PK
    name:       SK_Name
    color:      SK_IsColorizable
    image_type: SK_MediaType

### Link - generic for landing page and others ###
link:
  type:  link
  color: blue
  display:
    - type
    - link_type
    - name

### Entity Meta Data - properties of fields etc
metadata:
  type:  metadata
  color: blue
  path:  DotNet/Model/Configuration/Configuration/Entities/*.yaml
  display:
    - name
    - type
    - link
    - entity
  fields:
    name:       entityType
    data:       metaData
    read_only:  readOnly
    condition:  conditionId
    properties: properties

### Module ###
module:
  type:  module
  color: blue
  path:  DotNet/SystemData/SystemData/BPM/BPMModule/*.yaml
  display:
    - name
    - type
    - code
    - login
    - security
    - mobile
    - counts
  fields:
    guid:         V9_PK
    name:         V9_Name
    code:         V9_Code
    login:        V9_LoginType
    template:     V9_VZ_StartupForm
    theme:        V9_GO_Theme
    web:          V9_WebPortalEnabled
    mobile:       V9_IsPermittedToDeviceUsers
    security:     V9_WebSecurityRight

### Properties (calculated) ###
property:
  type:  property
  color: magenta
  display:
    - name
    - type
    - rule_type
    - property
    - entity
    - counts

### Task - formflow steps ###
task:
  type:  task
  color: blue
  display:
    - type
    - task
    - name
    - entity
    - counts
  fields:
    guid:       VR_PK
    name:       VR_Description
    entity:     VR_DataContextOverride
    task:       VR_Type
    command:    VR_RuleName
    formflow:   VR_VM_JumpToWorkflowTemplate
    template:   VR_VZ_Form
    active:     VR_IsActive

### Template ( forms and pages) ###
template:
  type:  template
  color: cyan
  path:  DotNet/SystemData/SystemData/BPM/BPMForm/*.yaml
  display:
    - name
    - type
    - form_type
    - entity
    - counts
  fields:
    guid:         VZ_PK
    name:         VZ_FormID
    entity:       VZ_EntityType
    form_factor:  VZ_FormFactor
    active:       VZ_IsActive
    form_type:    VZ_FormType
    data:         VZ_FormData
    dependencies: VZ_Dependencies

### Tile - clickable on templates ###
tile:
  type:  tile
  color: blue
  display:
    - type
    - name
    - description
    - entity
    - counts
...
